 body {
  display: flex;
  flex-direction: row;
  height: 950px;
  background-color: red;
  background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
}

.center-section {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.game-board {
  display: grid;  margin-top: 25px;
  justify-content: center;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
}

.game-board > section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
}

.game-board > .right {
  border-right: none;
}

.game-board > .top {
  border-top: none;
}

.game-board > .left {
  border-left: none;
}

.game-board > .bottom {
  border-bottom: none;
}

.side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.mini-board {
  display: grid;  margin-top: 10px;
  justify-content: center;
  grid-template-columns: 45px 45px 45px;
  grid-template-rows: 45px 45px 45px;
  scroll-snap-type: y mandatory;
}

.mini-board > section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  scroll-snap-align: start;
}
